body{
    margin:0%;
    background-color: aqua;
}
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: violet;
    color: azure;
    padding: 3rem 2rem;
}
header h1{
    font-size: 4rem;
    text-align: center;
}
.contenido{
    width: 400px;
    margin: 0 auto;
}

section article{
    transition: box-shadow 0.3s ease;
    background-color: aliceblue;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}

section article h2, section article p{
    margin: 1rem;
}

section article:hover{
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3)
}

footer{
    background-color: violet;
    padding: 1rem;
    color: aliceblue;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}
footer a{
    transition: color 0.3s ease;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
}

footer a :hover{
    color:cornflowerblue
    
}